body
{ 
 background: url('images/bg.jpg') no-repeat center center fixed;
     
        background-size: cover;
}
#menu
{
text-decoration: none;
font-family:Segoe UI;
font-size: 20px;
float:left;
margin: 20px 20px;
padding: 0px 0px;
display: inline;
}
table{
	border-collapse:collapse;
	
}
@media screen and (max-width: 768px) and (min-device-width : 320px)  {
#mainmenu {
    visibility: hidden;

    display: none;
  }
}
mainmenu {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    float: left;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}
#link
{
color:#ffffff;
text-decoration: none;

}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}